.slider {
    background-image: url(../data/fairy-tale-1180921_1920.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

p {
    text-shadow: 0px 0px 1px black;
}



.fa-igloo {
    color:black;
    font-size: 150%;
}

.navbar-toggler-icon {
    color: black
}

a {
    text-decoration: none;
    color: black;
}
