* {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    color: #fff !important;
}

h1 {
    color: #000;
}

.carousel {
    margin-top: 5%;
}

i {
    font-size: 180%;
    color: rgba(20, 220, 170, 1);
}

.card {
    color: black;
    padding: 5%;
    margin-top: 2%;
}